<div class="page-header" id="board-view">
    <div class="row">
        <h1>Welcome {{vm.user.name|uppercase}},</h1>
        <hr />
        <div class="row">
            <div class="panel panel-inverse" ng-class="{'panel-danger': vm.freezeQuestion}">
                <div class="panel-heading">
                    <h1 class="panel-title question" ng-class="{'ng-enter': vm.moveNext, 'ng-leave': !vm.moveNext }">{{ vm.questionIndex }}. {{vm.currentQuestion.question}}</h1>
                </div>
                <div class="panel-body">
                    <div class="form-group question-options" ng-class="{'ng-enter': vm.moveNext , 'ng-leave': !vm.moveNext }">
                        <div class="radio" ng-repeat="o in vm.currentQuestion.options">
                            <label>
                                <input type="radio"
                                       name="answers"
                                       ng-model="vm.currentQuestion.selectedOption"
                                       ng-disabled="vm.freezeQuestion"
                                       value="{{$index}}">
                                <span class="circle"></span><span class="check"></span>
                                {{o.text}}
                            </label>
                        </div>
                    </div>
                    <uib-progressbar class="progress-striped" value="vm.questionProgress" animate="vm.questionProgress != 0" type="info"></uib-progressbar>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pull-right ">
                <button type="button" class="btn btn-raised btn-primary" ng-click="vm.nextQuestion()">Next</button>
            </div>
        </div>
    </div>

</div>