<div class="page-header" id="banner">
    <br />
    <br />
    <div class="row">
        <div class="col-sm-5">
            <blockquote>
                <h1>Quiz Board</h1>
                <small>Making you to think fast...</small>
            </blockquote>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h4>Designed &amp; Developed</h4>
            <div class="row">
                <div class="col-md-4 text-center">
                    <a href="mailto:rangaveni.@valuelabs.com">
                        <img src="images/rangaveni.jpg"
                             class="img-circle"
                             alt="Rangaveni"
                             width="100"
                             height="100">
                    </a>
                    <strong>Rangaveni</strong>
                </div>
                <div class="col-md-4 text-center">
                    <a href="mailto:priyanka.@valuelabs.com">
                        <img src="images/priyanka.jpg"
                             class="img-circle"
                             alt="Priyanka"
                             width="100"
                             height="100">
                    </a>
                    <strong>Priyanka</strong>
                </div>
                <div class="col-md-4 text-center">
                    <a href="mailto:muzammil.mohammed@valuelabs.com">
                        <img src="images/muzammil.jpg"
                             class="img-circle"
                             alt="Muzammil Khaja Mohammed"
                             width="100"
                             height="100">
                    </a>
                    <strong>Muzammil Khaja Mohammed</strong>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="well infobox">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>
                            Lets get started!
                        </legend>
                    </fieldset>
                    <div class="form-group">
                        <label for="name" class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="name" placeholder="Enter your name" ng-model="name" />
                        </div >
                        <div class="col-md-2 control-label"></div>
                        <div class="col-md-10">
                            <h6>{{name | uppercase}}</h6>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-md-2 control-label">Email</label>
                        <div class="col-md-10">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="email">
                        </div>
                        <div class="col-md-2 control-label"></div>
                        <div>
                            <h6>{{email}}</h6>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="category" class="col-md-2 control-label">Difficulty</label>

                        <div class="col-md-10">
                            <select id="category" class="form-control" ng-model="category">
                                <option>Basic</option>
                                <option>Intermediate</option>
                                <option>Advanced</option>
                            </select>
                        </div>
                        <div class="col-md-2 control-label"></div>
                        <div>
                            <h6>{{category | uppercase}}</h6>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-raised btn-success" ng-click="vm.getStart()">Start</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>